@import "../../../styles/common/colors.scss";

// .automation-card {
//   width: 220px;
//   height: 220px;
//   background: url("https://i.imgur.com/IEiqEV0.jpg") no-repeat 50% 50%;
//   /* Text styling */
//   text-align: center;
//   font-family: sans-serif;
//   font-size: 15px;
//   font-weight: bold;
//   letter-spacing: 6px;
//   color: #fff;
//   color: rgba(255, 255, 255, 0.5);
//   cursor: pointer;
//   transition: color 500ms ease, text-shadow 500ms ease;
//   -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
//   -moz-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
//   -ms-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
//   clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
// }

.automation-card {
  width: 230px; /* Adjust the size as needed */
  height: 230px; /* Height = (width / 2) * (√3) */
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  margin: auto;
}

.automation-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a box shadow for the hexagon */
  z-index: -1; /* Push the pseudo-element below the content */
}
